<app-sort (click)="onSortClick()"></app-sort>

<div *ngIf="peopleList$ | async as people">
  <ul *ngFor="let el of people; let i = index;" [ngClass]="{'highlight': selectedIndex === i}" (click)="setRow(i)">
    <div *ngIf="searchText == '' || (el.fullName && el.fullName.toLocaleLowerCase().includes(searchText))">
      <li>
        <span>
          ID: {{el.personId}}
          <br>
          Name: {{el.fullName}}
          <br>
          BD: {{el.birthDate}}
          <br>
          Dept: {{el.department}}
        </span>
        <button class="button" (click)="editPerson(el.personId)">Edit</button>
        <button class="button" (click)="deletePerson(el.personId)">Delete</button>
      </li>
    </div>
  </ul>
</div>

<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

<button class="button" (click)="renderCreatePersonForm()">Create new Employee</button>