<p *ngIf="!isEditMode">Create Employee</p>
<p *ngIf="isEditMode">Edit Employee</p>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="fullName">Name: </label>
    <input type="text" id="fullName" formControlName="fullName">
  </div>
  <div>
    <label for="birthDate">BD: </label>
    <input type="date" id="birthDate" formControlName="birthDate">
  </div>
  <div>
    <label for="department">Dept: </label>
    <select id="department" formControlName="department">
      <option *ngFor="let department of dropdownList" value="{{department.departmentName}}">
        {{department.departmentName}}
      </option>
    </select>
  </div>
  <button class="button" type="submit">Save</button>
  <span *ngIf="isFormInvalid" style="color: red">
    Enter valid data pls!
  </span>
</form>
