<p *ngIf="!isEditMode">Create Department</p>
<p *ngIf="isEditMode">Edit Department</p>
<form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="departmentName">Name: </label>
    <input type="text" id="departmentName" formControlName="departmentName">
  </div>
  <div>
    <ul *ngFor="let person of selectedPeople">
      <li>{{person.fullName}}</li>
    </ul>
  </div>
  <div>
    <label for="people">People: </label>
    <select id="people" formControlName="people" (change)="onChange($event)">
      <option value="{{person.personId}}" *ngFor="let person of dropdownList">
        {{person.fullName}}
      </option>
    </select>
  </div>
  <button class="button" type="submit">Save</button>
  <span *ngIf="isFormInvalid" style="color: red">
    Enter valid data pls!
  </span>
</form>