<app-sort (click)="onSortClick()"></app-sort>

<div *ngIf="departmentsList$ | async as departments">
  <ul *ngFor="let el of departments; let i = index" [ngClass]="{'highlight': selectedIndex === i}" (click)="setRow(i)">
    <div *ngIf="searchText == '' || (el.departmentName && el.departmentName.toLocaleLowerCase().includes(searchText))">
      <li>
        <span>
          ID: {{el.departmentId}}
          <br>
          Name: {{el.departmentName}}
        </span>
        <button class="button" (click)="editDepartment(el.departmentId)">Edit</button>
        <button class="button" (click)="deleteDepartment(el.departmentId)">Delete</button>
      </li>
    </div>
  </ul>
</div>

<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

<button class="button" (click)="renderCreateDepartmentForm()">Create new Department</button>