<div class="main-view-container">
    <div class="sidebar">
        <app-sidebar-people></app-sidebar-people>
    </div>
    <div class="content">
        <app-details-person *ngIf="renderFormSubject | async"></app-details-person>
    </div>
</div>