* {
    font-family: 'Courier New', Courier, monospace;
    background-color: #aaaaaa;
}

// body {
    // background-image: url("https://freesvg.org/img/1542216516.png");
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: 100% 100%;
// }

.main-view-container {
    display: flex;
    gap: 10%;
    margin-top: 10px;
}

.sidebar {
    border-style: solid;
}

// .content {
// }

.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #555555;
    color: white;
}

