<div class="main-view-container">
    <div class="sidebar">  
        <app-sidebar-departments></app-sidebar-departments>
    </div>
    <div class="content">
        <app-details-department *ngIf="renderFormSubject | async"></app-details-department>
    </div>
</div>